*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

#__next,
body > div:first-child {
  max-width: 100%;
  overflow-x: hidden;
}
